.memelist {
	display: flex;
	flex-wrap: wrap;
}

.memelist > div {
	padding: 0.5em;
	border: 1px solid rgb(225, 225, 225);
	box-shadow: 0 0 0.3em gray;
	border-radius: 0.3em;
	margin: 1em;
	width: 12em;
}
.memelist img {
	width: 12em;
}